/* .header-image, .sidebar, .main-nav, article nav{
    display:none;
} */

article section{
    page-break-inside:avoid;
}
article p{
    padding-top:1.2em;
    page-break-inside:avoid;
}
h1{
    font-size:1em;
    line-height: 1.2em;
}
