html{
    font-size: 15px;   
}

body  {    
    font-size: 1em;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
}

p   {    
    line-height: 1.5em;
    text-align: justify; 
}
a   {    color: red;   }

h1,h2,h3    {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   
h1  {    font-size: 2em;  }
h2  {    
    font-size: 1.5em;
    line-height: 2em;
    border-bottom: 1px solid gray; 
}
h3  {    font-size: 1.2em; }

.container {
    margin: 1em 10%;
}

.article-nav {
    float: right;
    padding-right: 20px;
    border: 1px solid black;
    margin-left: 10px;
}
.article-image{
    float: left;
    margin-right: 10px;
}

.header-image{
    /* background: url('../images/pexels-photo-96799-large.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;  */ 

    height: 100px;
    padding: 15px;
    border: 2px solid lightgray;

    background: url('../images/pexels-photo-96799-large.jpeg') center 0px/100% no-repeat;
}
/* Main Menu  */
.main-nav ul{
    padding: 0;
    list-style: none;
    display: flex;    
    flex-direction: row;
}

.main-nav li{
    flex: 1;
    text-align: center;
    border: 1px solid black;   
    position: relative;
    height: 1.5em;
    padding: 0.2em;
}

.main-nav li a{
    color: black;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: capitalize;
}

/* Main menu 2-nd level */
.main-nav li > ul {
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 1.9em;
    width: 101%;
    background: white;
}
.main-nav li > ul > li{
    text-align: left;
}
/* Opening and closing submenu when Item hovered */
.main-nav li > ul {  
    display:none;
}
.main-nav li:hover > ul {
    display: flex;
}




.main-nav li:hover {
    background: hotpink;
}

::selection {
    background: hotpink;
}

p:first-letter {
    font-size: 2em;
    border: 1px solid;
    padding: 0 0.2em;
}

p:first-line {
    background: wheat;
}

p:target{
    background: yellow;
}

p:after {
    content: '😋';
    width: 100%;
    display: block;
    text-align: center;
}
h2:before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: -20px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 6px;
}

.article-nav{
    border-top-left-radius: 50px;
}

.columns{
    display: flex;
}

article{
    flex:1;
}
.sidebar{
    width: 150px;
    margin-left: 30px;
    margin-right: 10px;
}
footer{
    clear:both;
}

@media print{
    .no-print{
        display: none;
    }
}

@media screen and (max-width:768px){
    .container{
        margin: 0 20px;
    }
}
@media screen and (max-width:555px){
    .columns{
        flex-direction: column;
    }
    .sidebar{
        display: flex;
        width: 100%;
        flex-wrap: wrap;    justify-content: space-evenly;
        margin:0;
    }
}